<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=us-ascii" />

  <title>Duck Duck Go Settings</title>
  <link rel="stylesheet" href="/s357.css" type="text/css" />
  <link title="DuckDuckGo" type="application/opensearchdescription+xml" rel="search"
  href="/opensearch.xml" />
  <link title="DuckDuckGo (SSL)" type="application/opensearchdescription+xml" rel=
  "search" href="/opensearch_ssl.xml" />
  <link rel="image_src" href="/nduck.v104.png" />
  <link rel="apple-touch-icon" href="icon128.png" />
  <style type="text/css">
/*<![CDATA[*/
  .ctd {
  padding-top:15px;
  padding-bottom:5px;
  font-size: 85%;
  }
  .ctd2 {
  padding-bottom:10px;
  font-size: 75%;
  }
  .ctd3 {
  padding-top:15px;
  }
  /*]]>*/
  </style>
  <style type="text/css">
/*<![CDATA[*/

  /*style for the server response field*/
    #resp { font-family:courier;margin:10px;padding:5px;border:1px solid #ccc;background:#fff;}
  #yui-picker-panel {visibility:hidden;}
  #container .yui-picker-controls li {
    list-style: none;
  }
  /*]]>*/
  </style>
</head>

<body class="yui-skin-sam">
  <div id="c">
    <a href="/"><img id="d" src="nduck.v105.png" alt="Duck Duck Go" title="Duck Duck Go"
    style="padding-top:10px;" name="d" /></a>

    <div id="t" style="width: 620px; padding-left:20px; padding-top:15px;">
      <i>Settings</i>

      <div style="float:right;">
        <a href="/">Home</a> | <a href="/about.html">About</a> | <a href=
        "/goodies.html">Goodies</a> | <a href="/bang.html">!Bang</a> | <a href=
        "/privacy.html">Privacy</a> | <a href="/faq.html">FAQ</a> <script src="/d596.js"
        type="text/javascript">
</script> <script type="text/JavaScript">
//<![CDATA[
        nib(0,'',' | ');
        //]]>
        </script>
      </div>

      <div style="margin-bottom:30px;"></div>

      <form name="x" id="x">
        <script type="text/JavaScript">
//<![CDATA[
        function save(cookie,value,id) {

        //alert(cookie + ' ' + value + ' ' + id);

        if (cookie == 'l' && !value) value = 'wt-wt';
        //  alert(value);

        if (value=='other') {
        value = prompt('Custom value?','');
        if (!value) return false;
        setTimeout('window.location.reload()',1250);
        } else if (value=='otherc') {
        if (tcp) tcp.dialog.show();
        tcpi = id;
        tcpc = cookie;
        return true;
        }

        YAHOO.util.Cookie.remove(cookie); 
        if (value && value != '0') YAHOO.util.Cookie.set(cookie, value, { expires: new Date("January 12, 2025") }); 

        var div = document.getElementById(id);
        div.style.color='#FF0000';
        //  console.log('test');
        setTimeout('unsave(\''+id+'\')',350);
        div.innerHTML='Saved';

        kurl();
        }

        function unsave(id) {
        var div,link;
        div = document.getElementById(id);
        div.innerHTML='';

        if (document.referrer && document.referrer.indexOf('post.html')==-1) {
        link = d.createElement('a');
        link.innerHTML = 'Back to search';
        link.href=document.referrer;
        div.appendChild(link);
        } else {
        link = d.createElement('a');
        link.innerHTML = 'Home';
        link.href='/';
        div.appendChild(link);
        }
        }
        //abcdefghijklmnopqrstuvwxyz
        //]]>
        </script>

        <div id="result" style="display:none;">
          <table>
            <tr>
              <td colspan="2"><b>Result Settings</b></td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">
              Safe&nbsp;Search:</td>

              <td class="ctd">
                <select id="safe" onchange=
                "save('p',this.options[this.selectedIndex].value,'save0');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="save0"></span> <script type="text/javascript">
//<![CDATA[
                var size=YAHOO.util.Cookie.get("p");
                var sizes=d.getElementById("safe");
                for (var i=0;i<sizes.options.length;i++) {
                if (sizes.options[i].value==size) {
                sizes.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Omits objectionable material.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Region:</td>

              <td class="ctd">
                <select id="lr" onchange=
                "save('l',this.options[this.selectedIndex].value,'save1');">
                  <option value="">
                    &nbsp;
                  </option>

                  <option value="xa-ar">
                    Arabia
                  </option>

                  <option value="xa-en">
                    Arabia (en)
                  </option>

                  <option value="ar-es">
                    Argentina
                  </option>

                  <option value="au-en">
                    Australia
                  </option>

                  <option value="at-de">
                    Austria
                  </option>

                  <option value="be-fr">
                    Belgium (fr)
                  </option>

                  <option value="be-nl">
                    Belgium (nl)
                  </option>

                  <option value="br-pt">
                    Brazil
                  </option>

                  <option value="bg-bg">
                    Bulgaria
                  </option>

                  <option value="ca-en">
                    Canada
                  </option>

                  <option value="ca-fr">
                    Canada (fr)
                  </option>

                  <option value="ct-ca">
                    Catalan
                  </option>

                  <option value="cl-es">
                    Chile
                  </option>

                  <option value="cn-zh">
                    China
                  </option>

                  <option value="co-es">
                    Colombia
                  </option>

                  <option value="hr-hr">
                    Croatia
                  </option>

                  <option value="cz-cs">
                    Czech Republic
                  </option>

                  <option value="dk-da">
                    Denmark
                  </option>

                  <option value="ee-et">
                    Estonia
                  </option>

                  <option value="fi-fi">
                    Finland
                  </option>

                  <option value="fr-fr">
                    France
                  </option>

                  <option value="de-de">
                    Germany
                  </option>

                  <option value="gr-el">
                    Greece
                  </option>

                  <option value="hk-tzh">
                    Hong Kong
                  </option>

                  <option value="hu-hu">
                    Hungary
                  </option>

                  <option value="in-en">
                    India
                  </option>

                  <option value="id-id">
                    Indonesia
                  </option>

                  <option value="id-en">
                    Indonesia (en)
                  </option>

                  <option value="ie-en">
                    Ireland
                  </option>

                  <option value="il-he">
                    Israel
                  </option>

                  <option value="it-it">
                    Italy
                  </option>

                  <option value="jp-jp">
                    Japan
                  </option>

                  <option value="kr-kr">
                    Korea
                  </option>

                  <option value="lv-lv">
                    Latvia
                  </option>

                  <option value="lt-lt">
                    Lithuania
                  </option>

                  <option value="xl-es">
                    Latin America
                  </option>

                  <option value="my-ms">
                    Malaysia
                  </option>

                  <option value="my-en">
                    Malaysia (en)
                  </option>

                  <option value="mx-es">
                    Mexico
                  </option>

                  <option value="nl-nl">
                    Netherlands
                  </option>

                  <option value="nz-en">
                    New Zealand
                  </option>

                  <option value="no-no">
                    Norway
                  </option>

                  <option value="pe-es">
                    Peru
                  </option>

                  <option value="ph-en">
                    Philippines
                  </option>

                  <option value="ph-tl">
                    Philippines (tl)
                  </option>

                  <option value="pl-pl">
                    Poland
                  </option>

                  <option value="pt-pt">
                    Portugal
                  </option>

                  <option value="ro-ro">
                    Romania
                  </option>

                  <option value="ru-ru">
                    Russia
                  </option>

                  <option value="sg-en">
                    Singapore
                  </option>

                  <option value="sk-sk">
                    Slovak Republic
                  </option><!--<option value="sl-sl">Slovenia</option> see deep.pm//-->

                  <option value="za-en">
                    South Africa
                  </option>

                  <option value="es-es">
                    Spain
                  </option>

                  <option value="se-sv">
                    Sweden
                  </option>

                  <option value="ch-de">
                    Switzerland (de)
                  </option>

                  <option value="ch-fr">
                    Switzerland (fr)
                  </option>

                  <option value="ch-it">
                    Switzerland (it)
                  </option>

                  <option value="tw-tzh">
                    Taiwan
                  </option>

                  <option value="th-th">
                    Thailand
                  </option>

                  <option value="tr-tr">
                    Turkey
                  </option>

                  <option value="ua-uk">
                    Ukraine
                  </option>

                  <option value="uk-en">
                    United Kingdom
                  </option>

                  <option value="us-en">
                    United States
                  </option>

                  <option value="ue-es">
                    United States (es)
                  </option>

                  <option value="ve-es">
                    Venezuela
                  </option>

                  <option value="vn-vi">
                    Vietnam
                  </option>

                  <option value="wt-wt">
                    World Traveler (none)
                  </option>
                </select> <span id="save1"></span> <script type="text/javascript">
//<![CDATA[
                var lrs=d.getElementById("lr");
                for (var i=0;i<lrs.options.length;i++) {
                if (lrs.options[i].value==rl) {
                lrs.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Boosts results from the region.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Meanings:</td>

              <td class="ctd">
                <select id="disambiguation" onchange=
                "save('i',this.options[this.selectedIndex].value,'save17');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="save17"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("i");
                var fonts=d.getElementById("disambiguation");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">For ambiguous terms, asks you to choose which meaning is
              right.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">0-click box:</td>

              <td class="ctd">
                <select id="zeroclick" onchange=
                "save('z',this.options[this.selectedIndex].value,'save14');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="save14"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("z");
                var fonts=d.getElementById("zeroclick");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Red box above results with useful info.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Auto-load:</td>

              <td class="ctd">
                <select id="scroll" onchange=
                "save('c',this.options[this.selectedIndex].value,'save10');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="save10"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("c");
                var fonts=d.getElementById("scroll");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Auto-load more results when using mouse scroll wheel.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">
              New&nbsp;window:</td>

              <td class="ctd">
                <select id="newwindow" onchange=
                "save('n',this.options[this.selectedIndex].value,'save_n');">
                  <option value="-1">
                    Off (default)
                  </option>

                  <option value="1">
                    On
                  </option>
                </select> <span id="save_n"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("n");
                var fonts=d.getElementById("newwindow");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Open results in new windows/tabs.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Site icons:</td>

              <td class="ctd">
                <select id="fav" onchange=
                "save('f',this.options[this.selectedIndex].value,'save9');">
                  <option value="b">
                    Favicons + WOT warnings (default)
                  </option>

                  <option value="1">
                    Just favicons
                  </option>

                  <option value="w">
                    Just WOT (trust) ratings
                  </option>

                  <option value="fw">
                    All WOT + favicons (both)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="save9"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("f");
                var fonts=d.getElementById("fav");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Small icons to the left of results.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Embeds:</td>

              <td class="ctd">
                <select id="embed" onchange=
                "save('b',this.options[this.selectedIndex].value,'save18');">
                  <option value="e">
                    Everything (default)
                  </option>

                  <option value="d">
                    Videos when asked, thumbnails otherwise
                  </option>

                  <option value="v">
                    Just videos
                  </option>

                  <option value="t">
                    Just thumbnails
                  </option>

                  <option value="n">
                    None
                  </option>
                </select> <span id="save18"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("b");
                var fonts=d.getElementById("embed");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Embedded videos and thumbnails to the right of
              results.</td>
            </tr>

            <tr>
              <td colspan="2" class="ctd2" style="padding-top:10px;">Note: you can get
              <a href="http://mywot.com">WOT</a> (trust) ratings via the 'Site icons'
              setting above.</td>
            </tr>
          </table>
        </div>

        <div id="privacy" style="display:none;">
          <table>
            <tr>
              <td colspan="2" class="ctd3"><b>Privacy Settings</b></td>
            </tr>

            <tr>
              <td colspan="2" class="ctd">For more info on these privacy settings, check
              out the <a href="https://duckduckgo.com/privacy.html">Privacy
              Policy</a>.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Redirect:</td>

              <td class="ctd">
                <select id="redirect" onchange=
                "save('d',this.options[this.selectedIndex].value,'save16');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="save16"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("d");
                var fonts=d.getElementById("redirect");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">If On it prevents sharing of your search with sites you
              click on.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Address bar:</td>

              <td class="ctd">
                <select id="request" onchange=
                "save('g',this.options[this.selectedIndex].value,'save15');">
                  <option value="g">
                    On (default)
                  </option>

                  <option value="p">
                    Off
                  </option>
                </select> <span id="save15"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("g");
                var fonts=d.getElementById("request");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">If On, searches will appear in your address bar (GET vs
              POST requests).</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">HTTPS:</td>

              <td class="ctd">
                <select id="https" onchange=
                "save('h',this.options[this.selectedIndex].value,'saveh');">
                  <option value="-1">
                    Off (default)
                  </option>

                  <option value="1">
                    On
                  </option>
                </select> <span id="saveh"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("h");
                var fonts=d.getElementById("https");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">If On, searches on the site will always go to the
              encrypted version.</td>
            </tr>
          </table>
        </div>

        <div id="color" style="display:none;">
          <table>
            <tr>
              <td colspan="2" class="ctd3"><b>Color Settings</b></td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Header:</td>

              <td class="ctd">
                <select id="header" onchange=
                "save('j',this.options[this.selectedIndex].value,'savej');">
                  <option value="d">
                    Light green (default)
                  </option>

                  <option value="b2">
                    Blue
                  </option>

                  <option value="g2">
                    Green
                  </option>

                  <option value="o">
                    Orange
                  </option>

                  <option value="p">
                    Purple
                  </option>

                  <option value="r2">
                    Red
                  </option>

                  <option value="w">
                    White
                  </option>

                  <option value="b">
                    Light blue
                  </option>

                  <option value="g">
                    Intense Green
                  </option>

                  <option value="r">
                    Intense Red
                  </option>

                  <option value="otherc">
                    Other (custom)
                  </option>
                </select> <span id="savej"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("j");
                var fonts=d.getElementById("header");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                  
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'otherc');                                     
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Header color and other tweaks.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Highlight:</td>

              <td class="ctd">
                <select id="y" onchange=
                "save('y',this.options[this.selectedIndex].value,'save5');">
                  <option value="1">
                    Green (default)
                  </option>

                  <option value="b">
                    Blue
                  </option>

                  <option value="y">
                    Yellow
                  </option>

                  <option value="p">
                    Pink
                  </option>

                  <option value="t">
                    Tan
                  </option>

                  <option value="-1">
                    Off
                  </option>

                  <option value="otherc">
                    Other (custom)
                  </option>
                </select> <span id="save5"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("y");
                var fonts=d.getElementById("y");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'otherc');                                     
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Whether results are highlighted when you move over
              them.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">URLs:</td>

              <td class="ctd">
                <select id="urlColor" onchange=
                "save('x',this.options[this.selectedIndex].value,'save26');">
                  <option value="r">
                    Red (default)
                  </option>

                  <option value="g">
                    Green
                  </option>

                  <option value="b">
                    Blue
                  </option>

                  <option value="o">
                    Orange
                  </option>

                  <option value="p">
                    Purple
                  </option>

                  <option value="l">
                    Black
                  </option>

                  <option value="e">
                    Grey
                  </option>

                  <option value="otherc">
                    Other (custom)
                  </option>
                </select> <span id="save26"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("x");
                var fonts=d.getElementById("urlColor");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'otherc');                                     
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the color of the Web address result line.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Background:</td>

              <td class="ctd">
                <select id="backgroundColor" onchange=
                "save('7',this.options[this.selectedIndex].value,'savebc');">
                  <option value="w">
                    White (default)
                  </option>

                  <option value="otherc">
                    Other (custom)
                  </option>
                </select> <span id="savebc"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("7");
                var fonts=d.getElementById("backgroundColor");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'otherc');                                     
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the background color.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Text:</td>

              <td class="ctd">
                <select id="textColor" onchange=
                "save('8',this.options[this.selectedIndex].value,'savetc');">
                  <option value="g">
                    Dark grey (default)
                  </option>

                  <option value="otherc">
                    Other (custom)
                  </option>
                </select> <span id="savetc"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("8");
                var fonts=d.getElementById("textColor");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'otherc');                                     
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the text color.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Links:</td>

              <td class="ctd">
                <select id="linkColor" onchange=
                "save('9',this.options[this.selectedIndex].value,'savelc');">
                  <option value="b">
                    Blue (default)
                  </option>

                  <option value="otherc">
                    Other (custom)
                  </option>
                </select> <span id="savelc"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("9");
                var fonts=d.getElementById("linkColor");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'otherc');                                     
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the link color.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Visited
              links:</td>

              <td class="ctd">
                <select id="vlinkColor" onchange=
                "save('aa',this.options[this.selectedIndex].value,'savevlc');">
                  <option value="p">
                    Purple (default)
                  </option>

                  <option value="otherc">
                    Other (custom)
                  </option>
                </select> <span id="savevlc"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("aa");
                var fonts=d.getElementById("vlinkColor");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'otherc');                                     
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the visited link color.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Border:</td>

              <td class="ctd">
                <select id="zeroColor" onchange=
                "save('ab',this.options[this.selectedIndex].value,'savevzc');">
                  <option value="r">
                    Red (default)
                  </option>

                  <option value="otherc">
                    Other (custom)
                  </option>
                </select> <span id="savevzc"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("ab");
                var fonts=d.getElementById("zeroColor");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'otherc');                                     
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the border color, e.g. for 0-click info box.</td>
            </tr>
          </table>
        </div>

        <div id="look" style="display:none;">
          <table>
            <tr>
              <td colspan="2" class="ctd3"><b>Look &amp; Feel Settings</b></td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Size:</td>

              <td class="ctd">
                <select id="size" onchange=
                "save('s',this.options[this.selectedIndex].value,'save2');">
                  <option value="n">
                    Large (default)
                  </option>

                  <option value="m">
                    Medium
                  </option>

                  <option value="s">
                    Small
                  </option>
                </select> <span id="save2"></span> <script type="text/javascript">
//<![CDATA[
                var size=YAHOO.util.Cookie.get("s");
                var sizes=d.getElementById("size");
                for (var i=0;i<sizes.options.length;i++) {
                if (sizes.options[i].value==size) {
                sizes.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the font size.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Width:</td>

              <td class="ctd">
                <select id="width" onchange=
                "save('w',this.options[this.selectedIndex].value,'save7');">
                  <option value="n">
                    Normal (default)
                  </option>

                  <option value="w">
                    Wide
                  </option>

                  <option value="s">
                    Super wide
                  </option>
                </select> <span id="save7"></span> <script type="text/javascript">
//<![CDATA[
                var size=YAHOO.util.Cookie.get("w");
                var sizes=d.getElementById("width");
                for (var i=0;i<sizes.options.length;i++) {
                if (sizes.options[i].value==size) {
                sizes.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the max width of results.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Placement:</td>

              <td class="ctd">
                <select id="middle" onchange=
                "save('m',this.options[this.selectedIndex].value,'save19');">
                  <option value="m">
                    Middle (default)
                  </option>

                  <option value="l">
                    Left
                  </option>
                </select> <span id="save19"></span> <script type="text/javascript">
//<![CDATA[
                var size=YAHOO.util.Cookie.get("m");
                var sizes=d.getElementById("middle");
                for (var i=0;i<sizes.options.length;i++) {
                if (sizes.options[i].value==size) {
                sizes.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Where the results start on the page.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Link font:</td>

              <td class="ctd">
                <select id="fontA" onchange=
                "save('a',this.options[this.selectedIndex].value,'save3');">
                  <option value="e" style="font-family:Segoe UI">
                    Segoe UI (Default)
                  </option>

                  <option value="a" style="font-family:Arial">
                    Arial
                  </option>

                  <option value="c" style="font-family:Century Gothic">
                    Century Gothic
                  </option>

                  <option value="g" style="font-family:Georgia">
                    Georgia
                  </option>

                  <option value="h" style="font-family:Helvetica">
                    Helvetica
                  </option>

                  <option value="n" style="font-family:Sans-serif">
                    Sans-serif
                  </option>

                  <option value="s" style="font-family:Serif">
                    Serif
                  </option>

                  <option value="t" style="font-family:Times">
                    Times
                  </option>

                  <option value="o" style="font-family:Tahoma">
                    Tahoma
                  </option>

                  <option value="b" style="font-family:Trebuchet MS">
                    Trebuchet MS
                  </option>

                  <option value="v" style="font-family:Vedana">
                    Verdana
                  </option>

                  <option value="other">
                    Other (custom)
                  </option>
                </select> <span id="save3"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("a");
                var fonts=d.getElementById("fontA");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'other');                                      
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the font family of links.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Underline:</td>

              <td class="ctd">
                <select id="underline" onchange=
                "save('u',this.options[this.selectedIndex].value,'save20');">
                  <option value="-1">
                    Off (default)
                  </option>

                  <option value="1">
                    On
                  </option>
                </select> <span id="save20"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("u");
                var fonts=d.getElementById("underline");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Whether link titles are underlined.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Text font:</td>

              <td class="ctd">
                <select id="fontT" onchange=
                "save('t',this.options[this.selectedIndex].value,'save4');">
                  <option value="e" style="font-family:Segoe UI">
                    Segoe UI (Default)
                  </option>

                  <option value="a" style="font-family:Arial">
                    Arial
                  </option>

                  <option value="c" style="font-family:Century Gothic">
                    Century Gothic
                  </option>

                  <option value="g" style="font-family:Georgia">
                    Georgia
                  </option>

                  <option value="h" style="font-family:Helvetica">
                    Helvetica
                  </option>

                  <option value="n" style="font-family:Sans-serif">
                    Sans-serif
                  </option>

                  <option value="s" style="font-family:Serif">
                    Serif
                  </option>

                  <option value="t" style="font-family:Times">
                    Times
                  </option>

                  <option value="o" style="font-family:Tahoma">
                    Tahoma
                  </option>

                  <option value="b" style="font-family:Trebuchet MS">
                    Trebuchet MS
                  </option>

                  <option value="v" style="font-family:Vedana">
                    Verdana
                  </option>

                  <option value="other">
                    Other (custom)
                  </option>
                </select> <span id="save4"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("t");
                var fonts=d.getElementById("fontT");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'other');                                      
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Changes the font family of non-link text.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Text link:</td>

              <td class="ctd">
                <select id="textLink" onchange=
                "save('2',this.options[this.selectedIndex].value,'savetextlink');">
                  <option value="-1">
                    Off (default)
                  </option>

                  <option value="1">
                    On
                  </option>
                </select> <span id="savetextlink"></span> <script type="text/javascript">
//<![CDATA[
                var size=YAHOO.util.Cookie.get("2");
                var sizes=d.getElementById("textLink");
                for (var i=0;i<sizes.options.length;i++) {
                if (sizes.options[i].value==size) {
                sizes.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Enables better middle-clicking but then can't select
              snippet text as easily.</td>
            </tr>
          </table>
        </div>

        <div id="interface" style="display:none;">
          <table>
            <tr>
              <td colspan="2" class="ctd3"><b>Interface Settings</b></td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Header:</td>

              <td class="ctd">
                <select id="topbar" onchange=
                "save('o',this.options[this.selectedIndex].value,'save13');">
                  <option value="1">
                    On &amp; floating (default)
                  </option>

                  <option value="s">
                    On &amp; scrolling
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="save13"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("o");
                var fonts=d.getElementById("topbar");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Controls the header (top bar).</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Twitter:</td>

              <td class="ctd">
                <select id="twitter" onchange=
                "save('3',this.options[this.selectedIndex].value,'savetw');">
                  <option value="0">
                    None
                  </option>

                  <option value="cnn">
                    @cnnbrk
                  </option>

                  <option value="theonion">
                    @theonion
                  </option>

                  <option value="nprnews">
                    @nprnews
                  </option>

                  <option value="lifehacker">
                    @lifehacker
                  </option>

                  <option value="reddit">
                    @reddit
                  </option>

                  <option value="newsyc150">
                    @newsyc150
                  </option>

                  <option value="other">
                    Other (custom)
                  </option>
                </select> (<a href="/tw.html">featured</a>) <span id="savetw"></span>
                <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("3");
                var fonts=d.getElementById("twitter");
                var length = fonts.options.length;
                for (var i=0;i<length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }
                if (font && i==fonts.options.length-1) {
                fonts.options[i].text=font;
                fonts.selectedIndex=i;                                       
                fonts.options[i+1]=new Option("Other",'other');                                      
                break;                                       
                }                                      
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">What twitter user or list to display on the homepage.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Shortcuts:</td>

              <td class="ctd">
                <select id="keyboard" onchange=
                "save('k',this.options[this.selectedIndex].value,'save6');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>

                  <option value="l">
                    Just hide legend
                  </option>

                  <option value="s">
                    Show full legend
                  </option>
                </select> <span id="save6"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("k");
                var fonts=d.getElementById("keyboard");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Keyboard shortcuts (full list <a href=
              "goodies.html">here</a>).</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Feedback:</td>

              <td class="ctd">
                <select id="feedback" onchange=
                "save('e',this.options[this.selectedIndex].value,'save11');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="save11"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("e");
                var fonts=d.getElementById("feedback");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Feedback icon in the lower right.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Top links:</td>

              <td class="ctd">
                <select id="rightbar" onchange=
                "save('r',this.options[this.selectedIndex].value,'save12');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>

                  <option value="c">
                    Off &amp; centered
                  </option>

                  <option value="b">
                    Just hide Add to Browser
                  </option>
                </select> <span id="save12"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("r");
                var fonts=d.getElementById("rightbar");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">The links next to the search box.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Dropdown:</td>

              <td class="ctd">
                <select id="dbangs" onchange=
                "save('q',this.options[this.selectedIndex].value,'savedbangs');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="n">
                    On but don't save
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="savedbangs"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("q");
                var fonts=d.getElementById("dbangs");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">The !bangs dropdown next to the search box.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">
              Advertisements:</td>

              <td class="ctd">
                <select id="r3ads" onchange=
                "save('1',this.options[this.selectedIndex].value,'ads');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="ads"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("1");
                var fonts=d.getElementById("r3ads");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Sponsor banners in the right column.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Page #s:</td>

              <td class="ctd">
                <select id="pagenum" onchange=
                "save('v',this.options[this.selectedIndex].value,'savedpagenum');">
                  <option value="-1">
                    Off (default)
                  </option>

                  <option value="1">
                    On with line and numbers
                  </option>

                  <option value="n">
                    On with just a line
                  </option>

                  <option value="l">
                    On with just numbers
                  </option>
                </select> <span id="savedpagenum"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("v");
                var fonts=d.getElementById("pagenum");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">How page breaks are displayed.</td>
            </tr>

            <tr>
              <td class="ctd" style="padding-right:15px;" align="right">Sidebar:</td>

              <td class="ctd">
                <select id="sidebar" onchange=
                "save('4',this.options[this.selectedIndex].value,'savedsidebar');">
                  <option value="1">
                    On (default)
                  </option>

                  <option value="-1">
                    Off
                  </option>
                </select> <span id="savedsidebar"></span> <script type="text/javascript">
//<![CDATA[
                var font=YAHOO.util.Cookie.get("4");
                var fonts=d.getElementById("sidebar");
                for (var i=0;i<fonts.options.length;i++) {
                if (fonts.options[i].value==font) {
                fonts.selectedIndex=i;
                break;                                    
                }                                   
                }
                //]]>
                </script>
              </td>
            </tr>

            <tr>
              <td>&nbsp;</td>

              <td class="ctd2">Whether the sidebar is displayed or not.</td>
            </tr>
          </table>
        </div>
      </form>

      <div style="margin-top: 30px;"></div><span class="clu"><script type=
      "text/JavaScript">
//<![CDATA[
      if (document.referrer) document.write('&larr; <a href="'+document.referrer+'">Click here<\/a> to save and go back. ');
      //]]>
      </script> <!--You may need to refresh searches
you've already done to see changes.//--></span>

      <div style="margin-top: 15px;"></div><a name="load" id="load"></a> <b>Load/Reset
      Settings</b>

      <div style="margin-top: 15px;"></div><span class="clu">This page requires
      JavaScript and cookies to function properly. However, neither are required to
      change settings. You can use <a href="params.html">URL parameters</a> instead of
      this page. Just set your homepage like this to use your current settings:</span>

      <div style="margin-top: 5px;" id="params" class="clu"></div>

      <div style="margin-top: 15px;"></div><span class="clu">You can also <a href=
      "javascript:;" onclick="load()">load settings</a> from a URL parameter string. Or
      <a href="javascript:;" onclick="reset()">reset all settings</a>. If you want to
      turn off JavaScript altogether, try out our <a href="/html">HTML</a> and <a href=
      "/lite">lite</a> versions.</span> <script type="text/JavaScript">
//<![CDATA[
      karr = new Array('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','1','2','3','4','5','6','7','8','9','aa','ab','ac','ad','ae','af','ag','ah','ai','aj','ak','al','am','an','ao','ap','aq','ar','as','at','au','av','aw','ax','ay','az');
      function kurl() {
      var params = '';
      var param = '';
      for (var i=0;i<karr.length;i++) {
      param=YAHOO.util.Cookie.get(karr[i]);
      if (param) params+='&k'+karr[i]+'='+encodeURIComponent(param);
      }

      if (params) {
      params = params.substring(1,params.length);
      d.getElementById('params').innerHTML = 'https://duckduckgo.com/?' + params;
      }                               
                                  
      }
      kurl();

      function load() {
      var settings,kre,ktmp;

      settings = prompt('URL parameter string, e.g. &kl=us-en','');
      if (settings && confirm('Are you sure? This will replace existing settings.')) {
      for (var i=0;i<karr.length;i++) {
      YAHOO.util.Cookie.remove(karr[i]); 

      kre=new RegExp('[\?\&]k'+karr[i]+'=([^\&]+)');
      ktmp='';
      if (kre.test(settings)) {
        ktmp=RegExp.$1;

        YAHOO.util.Cookie.set(karr[i], ktmp, { expires: new Date("January 12, 2025") }); 
      }
      }

      alert('Settings applied. Will reload on OK.')                                   
      setTimeout('window.location.reload()',100);
      }
      }

      function reset() {
      if (confirm('Are you sure? This will erase all settings.')) {
      for (var i=0;i<karr.length;i++) {
      YAHOO.util.Cookie.remove(karr[i]); 
      }
      alert('Settings reset. Will reload on OK.')                             
      setTimeout('window.location.reload()',100);
      }
      }

      var type=new RegExp('[\?\&]type=([^\&]+)');
      if (type.test(window.location.href)) {
      type = RegExp.$1;
      YAHOO.util.Dom.setStyle(type,'display','block'); 
      } else {
      YAHOO.util.Dom.setStyle('result','display','block'); 
      YAHOO.util.Dom.setStyle('privacy','display','block'); 
      YAHOO.util.Dom.setStyle('color','display','block'); 
      YAHOO.util.Dom.setStyle('look','display','block'); 
      YAHOO.util.Dom.setStyle('interface','display','block'); 
      YAHOO.util.Dom.setStyle('load','display','block'); 
      }

      //]]>
      </script>
    </div><!-- color picker //-->
    <script src="http://yui.yahooapis.com/2.9.0/build/yuiloader/yuiloader-min.js" type=
    "text/javascript">
</script> <script src="yui2/colorpicker-ddg.js" type="text/javascript">
</script>

    <div id="yui-picker-panel" class="yui-picker-panel">
      <div class="hd">
        Please choose a color:
      </div>

      <div class="bd">
        <div class="yui-picker" id="yui-picker"></div>
      </div>

      <div class="ft"></div>
    </div>

    <div id="color" class="cn"></div><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</body>
</html>
