<style type="text/css">
/*<![CDATA[*/

.ctd {
	padding-top:15px;
	padding-bottom:5px;
	font-size: 85%;
}

.ctd2 {
	padding-bottom:10px;
	font-size: 75%;
}

.ctd3 {
	padding-top:15px;
}

/*style for the server response field*/

#resp {
	font-family:courier;
	margin:10px;
	padding:5px;
	border:1px solid #ccc;
	background:#fff;
}
	
#yui-picker-panel {
	visibility:hidden;
}
	
#container .yui-picker-controls li {
	list-style: none;
}

/*]]>*/
</style>
